* {
    font-family:sans-serif;
    max-width:70ch;
}
img {
    max-width: 100%;
}
body {
    padding:15px;
}
body>* {
    margin:auto;
}
nav#main-nav ul {
    list-style: none;
    display: flex;
    flex-wrap: row wrap;
    gap:2em;
    padding-left:unset;
}
a {
        color:darkred;

}