#debug:target {
    outline:1px solid red;
  }
  #disclaimer {
    position:fixed;
    background-color:#c4c4c4;
    max-width:500px;
  }
  #disclaimer * {
    margin:5px;
  }
  #dismiss-disclaimer {
    display:block;
    width:max-content;
    margin-top:10px;
  }
  body {
    font-family: Arial, sans-serif;
    max-width:500px;
    margin:auto;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    font-size:16px;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    margin-left:5px;
    height:2.5em;
  }
  #input-holder {
    width:100%;
    display:flex;
    align-items:center;
    position:absolute;
    bottom:25px; 
    height:3em;
    gap:5px;
  }
  #output-container div {
    margin-top:3px;
    padding-top:3px;
    border-top:1px solid black;
    
  }
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height:2.5em;
    width:2.5em;
    margin-right:5px;
  }
  #clear-btn {
    width:100%;
    height:3em;
    text-transform:uppercase;
  }

  button:hover {
    background-color: #3e8e41;
  }
  
  #output-container {
    overflow-y:scroll;
    height:calc(100% - 6em - 25px);
    padding:0px 5px;
  }
  
  .timestamp {
    color: #999;
    font-size: 12px;
    display:block;
  }