#debug:target * {
  outline: 1px solid red;
}

h1 {
  text-align: left;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: auto;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

button {
  padding: 10px;
  background-color: #1f88c4;
  color: white;
  border: none;
  cursor: pointer;
  height: 3em;
  width: 100%;
  display: block;
  text-transform: uppercase;
  width:max-content;
  border-radius: 1.5em;
  margin:auto;
}

/* SETTINGS, DISCLAIMER OVERLAYS */

.overlay {
  position: fixed;
  background-color: #dedede;
  max-width: 500px;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  padding: 45px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  margin: auto;
}


#settings {
  display: none;
}

/* OUTPUT AREA */

.entry {
  visibility: show;
  margin-top: 3px;
  padding-top: 3px;
  border-top: 1px solid black;
}

.entry:focus {
  outline:1px solid green;
}

#output-container {
  overflow-y: scroll;
  padding: 0px 5px;
  display: block;
}

.timestamp {
  color: #999;
  font-size: 12px;
  display: block;
}

button.floating {
  position: absolute;
  width: min-content;
  border-radius: 1.5em;
  box-shadow: 5px 5px 10px black;
  width:45px;
  height: 45px;
}
button.floating img {
  width:100%;
}
#open-settings {
  top:15px;
  right:15px;
}
#showHideBtn {
  bottom:60px;
  right:15px;
}


/* INPUT AREA */


#input-holder {
  display: flex;
  align-items: stretch;
  gap: 5px;
  padding: 5px;
}
input[type="text"] {
  flex-grow: 100;
  box-sizing: border-box;
  margin-left: 5px;
  font-size: 18px;
}
#submit-btn {
  height: 3em;
  margin-top: 3px;
  }

@supports (-webkit-touch-callout: none) {
  #input-holder input {
    margin-bottom: 35px;
  }

  #input-holder input:focus {
    margin-bottom: 0px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  input[type="text"] {
    background-color: black;
    color: white;
  }

  #output-container div {
    border-top: 1px solid white;
  }

  #settings,
  #disclaimer {
    background-color: black;
    color: white;
  }

  button:not(#submit-btn) {
    color: white;
  }
}